

<section class="harvey section clearfix section--padding-none bg--white">

   <a href="{{ site.baseurl }}/benefit" class="harvey__image bg-image bg-image--ratio bg-image--ratio-3-2" style="background-image: url({{site.baseurl}}/img/content/benefit-banner.jpg);"></a>

   <div class="harvey__text align-center">

     <h2 class="title title--small title--upper">Discover the Hoola collection</h2>
     <p class="p--lead">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. </p>
     <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
     <a href="{{ site.baseurl }}benefit" class="btn btn--solid">Learn more</a>

   </div>

 </section>