

<section class="harvey section clearfix section--padding-none bg--white">

   <a href="{{ site.baseurl }}/benefit" class="harvey__image bg-image bg-image--ratio bg-image--ratio-3-2" style="background-image: url({{site.baseurl}}/img/content/benefit-banner.jpg);"></a>

   <div class="harvey__text align-center">

     <h2 class="title title--small title--upper">Discover the Hoola Collection</h2>
     <p class="p--lead">From the new Hoola Quickie Contour Stick to the Hoola Lite Matte Bronzer, discover a range of great products from Benefit.</p>
     <a href="{{ site.baseurl }}benefit" class="btn btn--solid">Find out more</a>

   </div>

 </section>